* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6F7889;
  text-align: center;
  margin-top: 30px;
 
}

.card{
  display: inline-block;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #393C45;
  box-shadow: 5px 5px 5px #5C71A8;
  font-family: sans-serif;
  
}

.name {
  padding: 20px;
  background-color: #E6EBEE; 
  
}

h1 {
  text-align: center;
  min-width: 80%;
  font-size: 40px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-main {
  color: white;
  padding: 20px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 3px 3px #5C71A8;
}

.personal-information {
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  
}
.statistics {
  text-align: center;

}
 .number {
   display: inline-block;
   width: 30%;
} 

.p-number {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
 
}

.footers {
  padding: 20px; 
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px ;
  border: none;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn1 {
  background-color: #4169E2;
  color: white;
}

.btn2 {
  margin-left: 20px;
}
