* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6F7889;
  padding: 100px;
}

.wrapper {
  
  display: inline-block;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #393C45;
  box-shadow: 5px 5px 5px #5C71A8;
  font-family: sans-serif;
  
}

.header {
  padding: 20px 0;
  background-color: #E6EBEE; 
  text-align: center;
}

h1 {
  max-width: 300px;
  font-size: 40px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  margin: 20px 75px;
  box-shadow: 3px 3px 3px #5C71A8;
}

.text {
  text-align: justify;
  padding: 20px;
}

.number {
  display: inline-block;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.p-number {
  font-size: 24px;
  padding-bottom: 5px;
  font-weight: bold;
 
}
.section-main {
  color: white;
}

.footers {
  padding: 20px 0; 
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px ;
  border: none;
  max-width: 105px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn1 {
  background-color: #4169E2;
  color: wheat;
}

.btn2 {
  margin-left: 20px;
}
